<div class="registro-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/supermercados" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active">Registro</li>
        </ol>
    </nav>
  <div class="container reg-container ">
    <main>
      <div class="py-5 text-center">
        <h2>Registro de cliente</h2>
      </div>

      <div class="row g-5 justify-content-center">
        <div class="col-md-7 col-lg-8">
          <form action="/addCliente" method="POST">
            <div class="row g-3">

              <!-- Informações pessoais -->
              <h5 class="fw-normal">Informações pessoais</h5>

              <div class="col-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" required>
              </div>

              <div class="col-6">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" name="sobrenome" required>
              </div>

              <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" required>
              </div>

              <div class="col-6">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" name="senha" required>
              </div>

              <div class="col-6">
                <label for="celular" class="form-label">Número de celular</label>
                <input type="text" class="form-control" name="celular" required>
              </div>

              <!-- Endereço -->
              <h5 class="mt-5 fw-normal">Endereço</h5>

              <div class="col-10">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" name="cidade" required>
              </div>

              <div class="col-2">
                <label for="uf" class="form-label">UF</label>
                <input type="text" class="form-control" name="UF" required>
              </div>

              <div class="col-6">
                <label for="rua" class="form-label">Rua</label>
                <input type="text" class="form-control" name="rua" required>
              </div>

              <div class="col-6">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" name="bairro" required>
              </div>

              <div class="col-2">
                <label for="numero" class="form-label">Número</label>
                <input type="text" class="form-control" name="numero" required>
              </div>

              <div class="col-5">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" name="complemento" placeholder="Ex.: Casa, apartamento">
              </div>

              <div class="col-5">
                <label for="geolocalizacao" class="form-label">Geolocalização</label>
                <input type="text" class="form-control" name="geolocalizacao" required>
              </div>

              <div class="col-5">
                <label for="apelido" class="form-label">Apelido</label>
                <input type="text" class="form-control" name="apelido" placeholder="Ex.: Casa, trabalho" required>
              </div>

              <!-- Cartão -->
              <h5 class="mt-5 fw-normal">Cartão</h5>
              <div class="col-3">
                <label for="tipo" class="form-label">Tipo de cartão</label>
                <input type="text" class="form-control" name="tipo">
              </div>
              <div class="col-9">
                <label for="numCartao" class="form-label">Número do cartão</label>
                <input type="text" class="form-control" name="numCartao">
              </div>

              <div class="row mt-3">
                <div class="col-3">
                  <label for="validade" class="form-label">Data de validade</label>
                  <input type="text" class="form-control" name="validade">
                </div>
                <div class="col-3">
                  <label for="cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" name="CVV">
                </div>
              </div>

              <div class="col-12">
                <label for="nomeTitular" class="form-label">Nome do titular</label>
                <input type="text" class="form-control" name="nomeTitular">
              </div>

              <button class="btn btn-primary btn-lg my-5 shadow-none" type="submit">Registrar</button>

            </div>
          </form>
        </div>
      </div>
  </div>
  </main>

  </div>

</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2021 elComprador</p>
</footer>

</html>